<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> 
    <title>Lovit</title>
</head>
<body>
    <div class="header-box">
        <div class="header-box-menu">
            <div class="header-box-menu-up">
                <p class="header-box-menu-up-text-one">Частным клиентам</p>
                <p class="header-box-menu-up-text-two">Бизнесу</p>
                <div class="header-box-menu-up-personal-area">
                    <img src="img/pers_area.png" class="header-box-menu-up-personal-area-img">
                    <a class="header-box-menu-up-personal-area-text">Личный кабинет</a>
                </div>
            </div>
            <div class="header-box-menu-center">
            <hr>
            </div>
            <div class="header-box-menu-down">
                <div class="header-box-menu-down-group-menu">
                    <div>
                        <a>Тарифы и услуги</a>
                        <a>Поддержка</a>
                    </div>
                    <div>
                        <a>Карта сети</a>
                        <a>Оплата</a>
                    </div>
                    <div>
                        <a>Контакты</a>
                    </div>
                </div>
                <div class="header-box-menu-down-group-numbers">
                    <div>
                        <p class="telephone-text">8 499 405 1515</p>
                        <p class="city-text">Москва</p>
                    </div>
                    <div>
                        <p class="telephone-text">8 812 252 96 00</p>
                        <p class="city-text">Санкт-Петербург</p>
                    </div>
                </div>
            </div>
        </div>
            <img src="img/logo.png" class="header-logo">
            <div class="header-text">
                <p class="header-text-one">
                    Все и сразу!
                </p>
                <p class="header-text-two">
                    Подключайтесь на любой тариф со Смотрешкой ТВ и в подарок вы получите максимальное количество каналов и 3 онлайн-кинотеатра
                </p>
            </div>
            <div class="header-button-box">
            <button class="header-button">выбрать тариф</button>
                </div>
        </div>
        <div class="main-rate-box">
            <div class="main-description">
                <div class="main-description-begin">                
                    <p class="main-description-text">Подключайтесь на любой тариф со Смотрешкой ТВ и смотрите бесплатно целый месяц</p>
                    <div class="main-description-benefits">
                        <hr>
                            <p class="main-description-benefits-text-h1">более 280 тв-каналов</p>
                            <p class="main-description-benefits-text-h2">максимальное количество каналов</p>
                        <hr>
                            <p class="main-description-benefits-text-h1">3 онлайн-кинотеатра</p>
                            <p class="main-description-benefits-text-h2">без очередей за билетами в кино, все уже в твоем кармане.</p>
                        <hr>                    
                    </div>
                </div>
            </div>
        </div>
</body>
</html>