.header-box{
    background: url("/img/bg.png");
    margin: 0 auto;
    margin-top: 0;
    width: 1440px;
    height: 776px;
}
.header-box-menu{
    position: relative;
    width: 1002px;
    height: 96px;
    left: 390px;
    top: 42px;
}
.header-box-menu-up{
    position: relative;
    display: flex;
    width: 1002px;
    height: 16px;
}

.header-box-menu-up-text-one{
    position: static;
    width: 141px;
    height: 16px;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 109%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;
}
.header-box-menu-up-text-two{
    position: static;
    width: 141px;
    height: 16px;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 109%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;
}
.header-box-menu-up-text-two:hover:after{
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: white;
    left: 200px;
    top: 23px;
}
.header-box-menu-up-text-one:hover:after{
    content: "";
    position: absolute;
    width: 140px;
    height: 4px;
    background: white;
    left: 20px;
    top: 23px;
}
.header-box-menu-up-personal-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: relative;
    width: 155px;
    left: 500px;
}
.header-box-menu-up-personal-area-img{
    position: static;
    width: 15px;
    height: 15px;
    left: 0px;
    top: 0.5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 8px;
}
.header-box-menu-up-personal-area-text{
    position: static;
    width: 121px;
    height: 16px;
    left: 23px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 109%;
    color: #FFFFFF;
    order: 1;
    flex-grow: 0;
    margin-left: 8px;
}
.header-box-menu-center hr
{
    position: relative;
    width: 1002px;
    height: 0px;
    left: 20px;
    border: 1px solid #FFFFFF;
}
.header-box-menu-down{
    position: relative;
    display: flex;
    width: 1002px;
    height: 48px;
    left: 20px;
    top: 10px;
}
.header-box-menu-down-group-menu{
    display: flex;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 109%;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
    margin: 8px 0px;
}
.header-box-menu-down-group-menu div{
    display:grid;
    margin-right: 32px;
}
.header-box-menu-down-group-menu a{
    margin-bottom: 8px;
}
.header-box-menu-down-group-numbers{
    width: 390px;
    height: 46px;
    margin-left: 235px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}
.header-box-menu-down-group-numbers div{
    position: static;
    width: 166px;
    height: 46px;
    left: 0px;
    top: 0px;   
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 50px;
}
.city-text{
    position: static;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 109%;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;
}
.telephone-text{
    position: static;
    width: 174px;
    height: 24px;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 109%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6px 0px;
}
.header-logo{
    position: relative;
    width: 140px;
    height: 51px;
    left: 48px;
    top: -50px;    
}
.header-text{
    position: relative;
    width: 546px;
    height: 240px;
    left: 48px;
    top: 302px;   
}
.header-text-one{
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 99px;
    line-height: 89%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
    
}
.header-text-two{
    margin: 0;
    width: 432px;
    height: 48px;
    left: 48px;
    top: 624px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 109%;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}
.header-button-box{
    position: relative;
    width: 142px;
    height: 32px;
    left: 48px;
    top: 324px;
}
.header-button{
    padding-bottom: 7px; 
    padding-left: 17px;
    padding-right: 14px;
    padding-top: 7px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: transparent;
    color: #FFFFFF;
}
.header-button:hover{
    background-color: white;
    color: black;
}
.main-rate-box{
    position: relative;
    width: 1440px;
    height: 1224px;
    margin: 0 auto;
}
.main-description{
    width: 1344px;
    height: 652px;    
    margin-left: 48px;
    margin-top: 56px;
}
.main-description-begin{
    display:flex;
    justify-content:space-between
}
.main-description-text{
    width: 432px;
    height: 288px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 110%;
    color: #24272A;
    margin: 0;
}
.main-description-benefits{
    width: 798px;
    height: 272px;
}
.main-description-benefits hr{
    width: 774px;
    height: 0px;
    border: 1px solid #000000;
    margin: 0;
}
.main-description-benefits-text-h1{    
    margin-bottom: 2px;
    margin-top: 32px;
    width: 367px;
    height: 40px;
    left: 618px;
    top: 880px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 120%;
    display: flex;
    align-items: flex-end;
    color: #24272A;
}
.main-description-benefits-text-h2{
    margin-bottom: 38px;
    width: 262px;
    height: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 109%;
    color: #24272A;
    
}